*{
    padding: 0%;
    margin: 0%;
}

:root{
    --marrom: #302727;
    --vermelho: #ba2d2d;
    --laranja: #f2511b;
    --laranja2: #f2861b;
    --amarelo: #c7c730; 
}

#banner{
    width: 100%;
    height: 600px;
    background-image: url(../);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    align-items: center;
}

#bannerTexto{
    width: 40%;
    padding: 20px;
    background-color: #f2861b;
}

#pagamentoPr{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tiposPagamento{
    width: 80%;
    padding: 20px;
    background-color: #ba2d2d;
}

.pagamento{
    width: 30%;
    padding: 20px;
    background-color: aqua;
}