body{
    display: flex;
    width: 100%px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    padding: 0%;
}

#bannerCadastro, #formulaCadastro{
    width: 50%;
    padding: 10px 0px;
}

#bannerCadastro{
    background-color: rgb(14, 13, 13);
}

#formulaCadastro{
    background-color: rgb(132, 132, 139);
}