*{
    padding: 0%;
    margin: 0%;
}

table{
    width: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(41, 41, 180);
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    background-color: rgb(75, 50, 165);
}

th:hover{
    background-color: rgb(59, 57, 177) ;
    color: rgb(77, 44, 119);
    transition: 0.5s;
}

td:hover{
    background-color: rgb(80, 59, 59) ;
    color: rgb(173, 137, 127);
}

th{
    border: 1px solid black;
    background-color: rgb(99, 63, 63);
    color: rgb(145, 112, 112);
    transition: 0.5s;
}

thead{
    position: sticky;
    top: -1px;
}