*{
   padding: 0%;
   margin: 0%;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

body{
    margin: 0%;
    background-color: #fff8e1;
    color: #222;
}

header{
    background-color: #d32f2f;
    color: white;
    display: flex;
    justify-self: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo{
    font-size: 2rem;
    animation: piscar 2s infinite;
}

@keyframes piscar{
    0%, 100% { color: yellow; }
    50% { color: white; }
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20%;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
}

.banner {
    text-align: center;
    background: linear-gradient(to right, #ff5722, #ff9800);
    color: white;
    padding: 60px 20px;
}

.banner h2 {
    font-size: 2.5rem;
}

.btn-pedido {
    background-color: black;
    color: yellow;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.btn-pedido:hover{
    background-color: yellow;
    color: black;
}

.descontos {
    padding: 50px 20px;
    text-align: center;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 2px solid #ff9800;
    border-radius: 15px;
    width: 250px;
    padding: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.card h3 {
    color: #d32f2f;
}

.card span {
    color: #d32f2f;
    font-weight: bold;
}

.sobre, .franqueados {
    background-color: #fff3e0;
    padding: 50px 20px;
    text-align: center;
}

.sobre h2, .franqueados {
    color: #d32f2f;
}

.btn-franquia {
    background-color: #ff9800;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.btn-franquia:hover {
    background-color: #d32f2f;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 9px;
    font-size: 0.9rem;
}