body{
    display: flex;
    width: 100%px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    padding: 0%;
}

#bannerLogin, #formulaLogin{
    width: 50%;
    padding: 10px 0px;
}

#bannerLogin{
    background-color: red;
}

#formulaLogin{
    background-color: blue;
}