*{
    padding: 0%;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#feed{
    width: 30%;
    height: 100%;
    background-color: rgb(1, 1, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

::-webkit-scrollbar{
    display: none;
}

.postUsuario{
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.fotoUsuario{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}

.post{
    width: 80%;
    background-color: rgb(2, 2, 55) ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid white;
}

.fotoUsuario img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width : 900px){
    #feed{
        width: 100%;
    }
}