@keyframes animacao{

}

@font-face {
    font-family: PokemonHollow;
    src: url(../Fonts/pokemon/Pokemon\ Hollow.ttf);
 }

*{
    padding: 0%;
    margin: 0%;
    /* font-familiy: ; */
}

h1{
    font-family: var(--fontePrimaria), 'Times New Roman', 'Aria';


}

:root{
    --background : rgb(222, 222, 222) ;
    --fontePrimaria : PokemonHollow ;
}

#caixa{
    width: 300px;
    height: 300px;
    background-color: blue;
    animation: animacao 3s infinite;
}