*{
    padding: 0%;
    margin: 0%;
}

:root{
    --primaria : rgb(255, 153, 0) ;
}

header{
    background-color: var(--primaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

#btnMenu{
    display: none;
}

header a{
    text-decoration: none;
    color: white;
}

#Mobile{
    display: none;
}

/* breakpoint - pc */
/*@media screen and (min-width : 500px) {
    body{
        background-color: red;
    } */
/* } */

/* breakpoint - mobile */
/*@media screen and (max-width: 600px){
    body{
        background-color: blue;
    } */
/* } */

/* @media screen and (orientation: landscape){
    body{
        background-color: green;
    }
}
@media screen and (orientation: portrait){
    body{
        background-color: yellow;
    }
}
@media print{
    body{
        color: red;
    }
} */