* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #78c47f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

header img {
  width: 30px;
  height: 30px;
  background-color: #333;
}

header nav a {
  margin-left: 10px;
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

section {
  background-color: #608152;
  padding: 50px 50px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.text {
  flex: 1;
  min-width: 100px;
  margin: 10px;
}

.text h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.text p {
  font-size: 12px;
}

.img {
  flex: 1;
  min-width: 100px;
  margin: 10px;
  height: 100px;
  background-color: #55d17e;
  border-radius: 10px;
}

.gallery {
  background-color: #f9f9f9;
  text-align: center;
  padding: 50px 0;
}

.gallery h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.gallery-box {
  width: 80%;
  height: 200px;
  background-color: #cfcfcf;
  margin: 0 auto;
  border-radius: 5px;
}

footer {
  background-color: #222;
  color: #ccc;
  font-size: 10px;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 3px 0;
}