*{
    padding: 0%;
    margin: 0%;
}

table{
    width: 600px;
    background-color: lab(12.22% 40.21 -56.94);
    background-color: rgb(33, 33, 128);
    background-color: rgb(10, 104, 212);
}

th{
    font-family: Arial, Helvetica, sans-serif;
    width: 12px;
}
